.background {
fill: none;
pointer-events: all;
}

.feature {
fill: #ccc;
cursor: pointer;
}

.feature.active {
fill: orange;
}

.mesh {
fill: none;
stroke: #fff;
stroke-linecap: round;
stroke-linejoin: round;
}

#tooltip-container {
  position: absolute;
  background-color: #fff;
  color: #000;
  padding: 10px;
  border: 1px solid;
  display: none;
}
.tooltip_key {
  font-weight: bold;
}
  